.carousel{
    /* position: relative; */
    /* top: 10px; */
    overflow: hidden;
    /* height: 550px; */
    z-index: 1;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    /* height: 550px; */
    z-index: 1;
}

.carousel-item {
    display: inline-flex;
    /* width: 100%; */
    margin: 100px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    height: 550px;
    /* background-color: green; */
    color: #fff;
}

.carousel-img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: white;
    text-decoration: underline;
}

.carousel-project-title {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 85%;
    /* z-index: 1; */
    text-decoration: none;
    /* background-color: rgba(128, 128, 128, 0.103); */
    text-shadow:
    0.04em 0 gray,
    0 0.04em gray,
    -0.04em 0 gray,
    0 -0.04em gray,
    -0.04em -0.04em gray,
    -0.04em 0.04em gray,
    0.04em -0.04em gray,
    0.04em 0.04em gray;
}

.carousel-project-username {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 90%;
    margin-top: 10px;
    text-shadow:
    0.04em 0 gray,
    0 0.04em gray,
    -0.04em 0 gray,
    0 -0.04em gray,
    -0.04em -0.04em gray,
    -0.04em 0.04em gray,
    0.04em -0.04em gray,
    0.04em 0.04em gray;
}
.name{
    position: relative;
}

/* .fade-in {
    transition:  opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
} */