.search-field {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    margin-right: 10px;
    padding-left: 10px;
    z-index: 5;
}

.search-btn {
    background-color: #faac18;
    height: 34px;
    border-radius: 5px;
    border: none;
    background-color: #faac18;
    color: white;
    font-size: 16px;
    z-index: 5;
}

.search-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    z-index: 5;
}


