.search-field {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    margin-right: 5px;
}

.search-btn {
    background-color: #faac18;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #faac18;
    color: white;
    font-size: 16px;
}
