#search-page {
    margin: 120px 0px 250px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-results-container {
    margin-top: 40px;
    width: 1000px
}

.searh-list-component {
    list-style: none;
    display: flex;
    margin: 20px;
}

.search-link {
    text-decoration: none;
}

.search-img {
    width: 140px;
    height: 100px;
    border-radius: 4px 4px 0 0;
}

.search-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.search-title {
    font-weight: 800;
    font-size: 18px;
    color: #555555;
}

.search-overview {
    height: 38px;
    overflow: hidden;
    font-size: 15px;
    color:#777777;
}
