.explorePage{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.allProjectsMap {
    
    float: left;
    width: 306px;
    height: 306px;
    transition: border 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.eachProject {
    list-style: none;
    /* border: 2px solid orangered; */
    /* transition: border 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s; */
    /* margin: 20px; */
    border: 1px solid gray;
    border-radius: 4px 4px 0 0;
    margin: 0px 10px 0px 10px;
    height: 275px;
}

.eachProject:hover{
    box-shadow: 0 2px 0 rgb(0 0 0 / 15%);
    transition: border 0.35s, box-shadow 0.25s, -webkit-box-shadow 0.35s;
}

.title-by {
    /* text-overflow: ellipsis; */
    font-weight: 300;
    font-size: 14px;
}

.title-by > p {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.likes-views {
    display: flex;
    justify-content: flex-end;
    background-color: #F6F6F6;

}

.likes-views p {
    margin: 0;
}

.projectImage{
    margin: 0;
    padding: 0;
}

.projectImage > img{
    /* border: 1px solid blue; */
    /* margin: 20px; */
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* margin: auto; */
    /* width: max-content; */
    width: 285px;
    height: 200px;
    border-radius: 4px 4px 0 0;

    /* max-width: 100%; */
    /* max-height: 100% */
}

/* li .likes-views{
    position: absolute;
} */

.slideshow-container {
    display: flex;
    margin: 100px 0px;
    width: 100%;
    height: 350px;
    border: 5px solid red;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-color: black;
}

.slideshow-container img {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
    height: 100%;
    width: 100%;
}

.lower-nav {
    display: flex;
    margin: 0px;
}

.lower-nav img{
    height: 75px;
}